/* 09/04/2023 */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

header{
 height: 300px;
 background-color: #E69A8DFF;
 color: #5F4B8BFF;
 text-align: center;
 padding-top: 10%;
}

h2{
 text-align: center;
 margin-top: 50px;
 color: indigo;
}

main{
 margin-bottom: 100px;
}

main p{
 margin: 30px;
 margin-bottom: 0px;
}

ul{
 margin-left: 50px;
 margin-top: 0px;
 margin-bottom: 0px;
}

a{
 text-decoration: none;
 color: rgb(10, 221, 14);
}

button{
 display: block;
 width: 200px;
 height: 60px;
 margin-top: 50px;
 margin-left: 20vw;
 background-color: black;
 font-size: 25px;
}